
<meta charset="UTF-8">
<meta name="description" content="<?= page.description || site.description ?>">
<meta name="keywords" content="HTML,CSS,JavaScript,Front-End">
<meta name="author" content="PartialDev">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
<link rel="icon" href="/images/favicon.png">
<title><?= page.title ? `${page.title} | ` : '' ?><?= site.title ?></title>
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<!-- Particles for index.html -->
<link rel="stylesheet" href="/css/particles.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script type="text/javascript">
    (function(w,d,v2){
    w.chaport = { app_id : '5ac5108610529a4a49534e0b' };
    
    v2=w.chaport;v2._q=[];v2._l={};v2.q=function(){v2._q.push(arguments)};v2.on=function(e,fn){if(!v2._l[e])v2._l[e]=[];v2._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
