<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
<nav class="uk-navbar-container uk-margin navbar" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/"><img src="/images/partialdev.png" class="img-logo" alt="PartialDev" style="max-height:30px"></a>
    </div>
    
    <div class="uk-navbar-right" style="color:#fff;">
        <ul class="uk-navbar-nav">
            <li>
                <a href="https://partialdev.com/hosting">
                    Website Hosting
                </a>
            </li>
            <li>
                <a href="https://partialdev.com/webdev">
                    Website Development
                </a>
            </li>
            <li>
                <a href="https://partialdev.com/support">
                    Support Centre
                </a>
            </li>
            <li>
                <a href="https://community.partialdev.com">
                    Community
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>
